[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"

[packages]
pyyaml = "*"
pyserial = "*"
pyclip = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
